.home {}

.photo {
    /* width: 100%; */
}

.photoCapa {
    width: 100%;
}

.feedPhotos {}

.feedPhotos h1 {
    text-align: center;

    padding: 3rem 3rem 3rem 3rem;
    height: 10rem;
    font-size: 2rem;
    /* background: black; */
    /* color: aquamarine; */

    /* color: var(--red); */
    letter-spacing: 4px;


    /* font-family: Sp Ghost Ui Title, sans-serif; */
    font-size: 72px;
    font-weight: 400;
    line-height: 72px;
}

.feedPhotos p {
    text-align: center;
    height: 9rem;
    font-size: 2rem;
    /* background: black; */
    /* color: aquamarine; */
}