.containerHouse {
    /* width: 100%;  */
    /* box-shadow: 0px 1px 1px rgba(180, 67, 67, 0.1); */
    /* background: #f7f7f7; */
    /* font-family: Arial, Helvetica, sans-serif; */
    /* gap: 3.75rem; */
    justify-items: center;
    /* background-color: rgb(81, 168, 168); */
    color: brown;
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 3rem 3rem;
    /* background-color: rgb(245,245,245); */
    /* background-color: #F5F5F5; */
    background-color: WhiteSmoke;
}

.houseH1 {
    background-color: rgb(81, 168, 168);
    background-color: WhiteSmoke;

    /* color: brown; */
    height: 4rem;
    padding: 1rem 3rem;
    font-size: 2.5rem;
}

.houseSlider {}
