/* .carouselSlide {} */

/* .carouselIndicators {} */

/* .carouselInner {} */

/* .active {} */

/* .carouselItem {} */

.carouselExampleIndicators {}

.imgTourism {
    /* background-image: url('../Assets/arraial3.jpg); */
}