* {
    /* margin: 0; */
    /* padding: 0; */
    /* box-sizing: border-box; */
}

body {}

.container {
    width: 100%;
    min-width: 100vh;
    background-color: #e1e1e1;
}

.carousel {
    display: flex;
    overflow-x: auto;
    scroll-behavior: smooth;
}

.image {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.info {
    z-index: 900;
    position: relative;
    margin-top: -4rem;
}
.spanInfo {
    display: block;
    text-align: center;
    align-items: center;
    justify-content: center;
    font-size: 1.5rem;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 400;
    letter-spacing: 1px;
    color: aqua;
}

/* button {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: none;
} */

.buttons, button {
    cursor: pointer;
    margin-top: -9rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 10rem;
    border: none;
}
.buttonLeft {}
.buttonRight {}

.buttonImgLeft {
    transform: rotate(-180deg);
    opacity: 0.5;
    /* margin: -34px 26px; */
    margin: -3rem 2rem;
}

.buttonImgRight {
    opacity: 0.5;
    margin: -34px 2rem;
}
