* {
    /* margin: 0; */
    /* padding: 0; */
    /* box-sizing: border-box; */
}

body {}

.container {
    width: 100%;
    min-width: 100vh;
    background-color: #e1e1e1;
    color: #1e1e1e;
}

.carousel {
    display: flex;
    overflow-x: auto;
    scroll-behavior: smooth;
}

.image {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.spanInfo {
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 100;
    padding-top: 10px;
}
.buttons {
    /* background-color: white;
    margin: 10px;
    padding: 10px;
    width: 280px; */
}
.buttonLeft {}
.buttonRight {}

.buttonImgLeft {}
.buttonImgRight {}
